body {
  background-image: url('/sfondo-my-team.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1, h2 {
    color: white!important;
}

.card {
  transition: transform 0.15s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

button.btn {
  font-size: 0.8rem;
}

.card {
  --bs-card-bg: #192024!important;
}